* {
	background-image: none;
}
window {
  font-size: 12pt;
	background-color: rgba(26, 27, 38, 0.5);
}
button{
  color: rgba(180, 249, 248, 0.95); 
	background-color: rgba(26, 27, 38, 0);
  border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  margin: 5px;
}

button:focus {
	background-color: rgba(74, 66, 247, 0.7);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
